*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width:100%;
    height: 500px;
    background: #4ef9f5;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: space-between;
}
.box{
  background-color: green;
   flex-basis: 30%;
   height: 100px;
   margin: 10px;
   color: #fff;
   justify-content: center;
   text-align: center;
}
.box2{
    background-color: 	#000080;
    flex-basis: 30%;
    height: 100px;
    margin-bottom: 50px;
    margin-left: 10px;
    color: #fff;
    text-align: center;
}
@media(max-width:900px){
    .container{
        display: block;
    }
    .box2{
        width:96%;
        height: 100px;
    }
}